/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  /* html, body {
    height: 100%;
  } */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


/* 

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

SVG of desktop bg pattern:
svg width="966" height="945"

SVG of desktop graphic
svg width="472" height="359"

*/

html {
  --v-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --v-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --breakpoint: 700px;
}

body {
  font-size: .75rem;
  font-family: 'Kumbh Sans', sans-serif;
  color: var(--v-dark-desaturated-blue);
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: grid;
  grid-template-rows: auto 10vh;
  max-width: 800px;
  margin: 0 auto;
}

.wrapper {
  background-color: white;  
  padding: 1rem;
  margin: 180px 24px 24px 24px;
  border-radius: 20px;
}

.img-wrap-mobile {
  background: no-repeat center bottom url(./images/bg-pattern-mobile.svg);
  width: 240px;
  margin: 0 auto;
  position: relative;
  top: -100px;
}

.img-wrap-desktop {
  background: no-repeat center bottom url(./images/bg-pattern-desktop.svg);
  display: none;
}

.graphic-mobile {
  position: relative;
  top: -30px;
}

.faqs-block {
  margin-top: -90px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}

details {
  border-bottom: 1px solid var(--light-grayish-blue);
  padding: 1rem;
  color: var(--dark-grayish-blue)
}

details > summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: var(--v-dark-grayish-blue);
}

details > summary::after {
  content: url(./images/icon-arrow-down.svg);
  transition: transform .1s;
}

details > summary:hover {
  color: var(--soft-red);
}

details[open] > summary {
  font-weight: bold;
  margin-bottom: .5rem;
}

details[open] > summary::after {
  content: url(./images/icon-arrow-down.svg);
  transform: rotate(180deg);
}

@media (min-width: 700px) {
  .img-wrap-mobile {
    display: none;
  }
  .img-wrap-desktop {
    display: block;
  }
  .wrapper {
    display: grid;
    margin: 1.75rem;
    grid-template-columns: 1fr 1fr;
    align-self: center;
  }
  .faqs-block {
    margin: 2rem;
  }
  html {
    height: 100%;
  }
  body {
    grid-template-rows: 90vh 10vh;
  }
  h1 {
    text-align: left;
  }
}


/* Feel free to remove these styles or customise in your own stylesheet 👍 */
  
.attribution {
  font-size: 11px;
  text-align: center;
  align-self: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
  